<br>

#### 0. 특정 함수에 대해 궁금할 때

In [ ]:
# Shift + Enter : 셀의 실행
# Shift + Tap : 함수 & 변수의 Docstring 확인

print()

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
# 이것은 주석입니다.

<br>

#### 1. 기초 데이터 타입

#### 정수형(integer)과 실수형(floats)

In [ ]:
x = 9

In [ ]:
print(x)

9

In [ ]:
type(x)

int

In [ ]:
x + 1

10

In [ ]:
x * 2

18

In [ ]:
x ** 2 # 제곱 연산

81

In [ ]:
x / 2 # 몫, 소수점까지 계산

4.5

In [ ]:
x // 2 # 몫, 정수로만 계산

4

In [ ]:
x % 2 # 나머지

1

In [ ]:
x += 1
x

10

In [ ]:
x *= 2 # 곱하여 변수에 그대로 담기
x

20

In [ ]:
y = 2.5

In [ ]:
type(y) # 어떤 타입일까요?

float

In [ ]:
# y를 정수 자료형으로 바꾸려면?
int(y) # from float to integer

2

In [ ]:
x = 9
float(x)

9.0

In [ ]:
print(y, y+1, y*2, y**2)

2.5 3.5 5.0 6.25

In [ ]:
x = 3.14
int(x) # from float to integer

3

#### 문자열 (string)

In [ ]:
s = "Hello"

In [ ]:
type(s)

str

In [ ]:
len(s) # 길이를 영어로 하면? (앞 3글자)

5

In [ ]:
s.upper()

'HELLO'

In [ ]:
s.lower() # 모두 소문자로

'hello'

In [ ]:
print("My name is {}".format("Groot"))

My name is Groot

In [ ]:
print("Hello "+"world") # 문자열 합치기

Hello world

In [ ]:
temp = "Python"

In [ ]:

temp()
temp[:]

? <-  :
? <-  :

In [ ]:
temp[0]

'P'

In [ ]:
temp[0:4]

'Pyth'

In [ ]:
temp[4:]

'on'

In [ ]:
temp[-1]

'n'

In [ ]:
temp = "Python is easy"
temp.split() # str을 특정한 문자(기본값:여백)를 기준으로 잘라내어 list로 만들어줍니다. (이 때 기준이 되는 해당 문자는 삭제됩니다.)

['Python', 'is', 'easy']

In [ ]:
temp = "Python is easy"
temp.split('s') # 's'를 기준으로 자르려면?

['Python i', ' ea', 'y']

In [ ]:
temp = ['Python', 'is', 'easy']
'___'.join(temp)

'Python___is___easy'

In [ ]:
' '.join(temp) # "Python is easy" 와 같이 합치려면?

'Python is easy'

In [ ]:
x = 214
int(x) # Integer to string

214

#### 참/거짓 (bool)

In [ ]:
t = True
f = False

In [ ]:
type(t)

bool

In [ ]:
print(t and f)

False

In [ ]:
print(t or f)

True

In [ ]:
print(not t)

False

<br>

#### 2. 함수 (function, method)

In [ ]:
# 2개의 숫자를 외부로부터 받아 합친 값을 돌려주는 함수 add_nums 만들기

In [ ]:
def add_nums():
    num1 = int(input("첫 번째 숫자를 입력하세요: "))
    num2 = int(input("두 번째 숫자를 입력하세요: "))

    return num1+num2
add_nums()

첫 번째 숫자를 입력하세요: 2
두 번째 숫자를 입력하세요: 3

5

In [ ]:
# Quiz 1. 성과 이름을 받아 이름을 출력해주는 함수 name_creator 만들기

In [ ]:
def name_creator():
  last_name = input("성을 입력하세요 : ")
  first_name = input("이름을 입력하세요 : ")

  return last_name + first_name
name_creator()

성을 입력하세요 : 심
이름을 입력하세요 : 은진

'심은진'

In [ ]:
# Quiz 2. 다음 함수는 에러를 출력합니다. 어디를 고쳐야할까요?
def drink():
  beverage = "Coke"
  print(beverage)

In [ ]:
# Quiz 3. 원의 반지름을 받아 원의 넓이를 Return 해주는 함수 circle_area 만들기 (ㅠ = 3.14)

In [ ]:
def circle_area():
  radius = int(input("원의 반지름을 입력해주세요 : "))
  return radius * radius * 3.14
circle_area()

원의 반지름을 입력해주세요 : 10

314.0

<br>

#### 3. 컨테이너 (다른 변수들을 담을 수 있는 자료형)
list, dict, tuple, set

#### 리스트 (list)

In [ ]:
x = [3, 1, 2, 4, 6] # 리스트의 생성
x

[3, 1, 2, 4, 6]

In [ ]:
x[0:3] # [3, 1, 2] 를 출력하려면?

[3, 1, 2]

In [ ]:
x[1:] #1부터 끝까지?

[1, 2, 4, 6]

In [ ]:
x[-1]

6

In [ ]:
x.append("어머나") # 리스트 item 추가하기
x

[3, 1, 2, 4, 6, '어머나']

In [ ]:
x.pop() # 기본적으로 리스트의 마지막 요소를 삭제하고 반환 (pop(n) -> index 기반으로 n번째 아이템을 삭제할 수도 있음)

'어머나'

In [ ]:
x

[3, 1, 2, 4, 6]

In [ ]:
# 리스트 아이템의 삭제
# 1) 데이터의 순서/자리를 활용하여 삭제할 때 : del == index를 활용 (추천)
# 2) 데이터 값 자체를 활용하여 삭제할 때 : remove() == value를 활용
# 3) 삭제 후 삭제한 값을 리턴받아 활용해야할 때 : pop() == index를 활용

In [ ]:
x.remove(3)
x[0] # 삭제의 영어 단어 앞 3글자?
x

[1, 2, 4, 6]

In [ ]:
x.remove(4)
x

[1, 2, 6]

In [ ]:
# 리스트 합치기
y = [3, 4, 5]
z = x + y # 쉽게 생각해보세요 :)
z

[1, 2, 6, 3, 4, 5]

In [ ]:
# 리스트 정렬하기
z.sort()
z

[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 역으로 정렬하기
z.sort(reverse=True) # '거꾸로' 를 영어로 하면?
z

[6, 5, 4, 3, 2, 1]

#### 딕셔너리 (dict)

In [ ]:
cage = {'Cat' : '야옹', 'Dog' : '멍멍'} # {key:value, key:value, ...}
cage

{'Cat': '야옹', 'Dog': '멍멍'}

In [ ]:
cage['Cat'] # key 기반 호출

'야옹'

In [ ]:
cage.get('Cat') # '얻다'

'야옹'

In [ ]:
cage.get('Fish', '집나감') # 어떤 결과가 나올까요?

'집나감'

In [ ]:
print('Pig', cage) # key 유무 체크

Pig {'Cat': '야옹', 'Dog': '멍멍'}

In [ ]:
cage['Pig'] = '꿀꿀' # dict에 새로운 item 추가하기
cage

{'Cat': '야옹', 'Dog': '멍멍', 'Pig': '꿀꿀'}

In [ ]:
del cage['Pig'] # 삭제의 영어 단어 앞 3글자?
cage

{'Cat': '야옹', 'Dog': '멍멍'}

In [ ]:
cage.keys()

dict_keys(['Cat', 'Dog'])

In [ ]:
cage.values() # value들을 꺼내려면?

dict_values(['야옹', '멍멍'])

#### 튜플(tuple)
값과 크기가 변하지 않음

In [ ]:
t = (5, 6)
type(t)

tuple

In [ ]:
t[0]

5

In [ ]:
# 튜플이 사용되는 예시

def return_tuple(x, y):
    return x, y

In [ ]:
what = return_tuple(3, 4)
what

(3, 4)

#### 집합(set)
중복을 허용하지 않음

In [ ]:
s = {1, 2, 3, 3, 4, 4, 5}
s

{1, 2, 3, 4, 5}

In [ ]:
temp = [1, 2, 3, 3, 4, 4, 5]
temp

[1, 2, 3, 3, 4, 4, 5]

In [ ]:
# 리스트 temp 에서 중복을 제거하고, 다시 리스트로 만드려면?

what = list(set(temp))
what

[1, 2, 3, 4, 5]

<br>

#### 4. 조건문과 반복문
if, for, while

#### if

In [ ]:
def check_price(lunch_price):

    price_label = ''

    if lunch_price > 10000:
        price_label = "프리미엄 도시락"
    elif lunch_price < 3000:
        price_label = "저렴이 도시락"
    else: # 나머지 조건 모두 받기
        price_label = "무난무난 도시락"

    return price_label

In [ ]:
check_price(7000)

'무난무난 도시락'

In [ ]:
cage = ['Cat', 'Dog', 'Tiger']

In [ ]:
if 'Cat' in cage:  # Key 유무 체크
    print('야옹아 이리온')

야옹아 이리온

In [ ]:
cage = {'Cat': '야옹', 'Dog': '멍멍', 'Tiger': '어흥'}

In [ ]:
if 'Dog' in cage.keys(): # Key 유무 체크
    print('치와와는 언제와')

치와와는 언제와

In [ ]:
if 1:
    print('1 is True')

1 is True

#### for

In [ ]:
nums = [1, 2, 3, 4, 5]

In [ ]:
for number in nums:
    print(number)

1
2
3
4
5

In [ ]:
cage = {'Cat': '야옹', 'Dog': '멍멍', 'Tiger': '어흥'}

In [ ]:
for item in cage.items(): # values + keys = items
    print(item)

('Cat', '야옹')
('Dog', '멍멍')
('Tiger', '어흥')

In [ ]:
# 숫자들의 리스트에서 1과 4가 연속으로 나오는 숫자 찾기

list_of_nums = [121142131512315, 1241561717265467, 153462615114151231, 1634263414616123, 15236172821568]
for num in range(len(list_of_nums)):
    if '14' in str(list_of_nums(num)):
        print(list_of_nums(num))

TypeError: 'list' object is not callable

In [ ]:
range(5) # '범위'를 영어로?

range(0, 5)

In [ ]:
for index in range(5):
    print(index)

0
1
2
3
4

In [ ]:
class_1 = ['철수', '영희', '동수'] # 왜 에러가 발생할까요? = class는 지정된 함수?

In [ ]:
for student in class_1:
    print("얘 이름은 {}래요".format(student))

얘 이름은 철수래요
얘 이름은 영희래요
얘 이름은 동수래요

In [ ]:
# enumerate 배우기

for index, student in enumerate(class_1):
    print("얘 번호는 {}번이구요. 이름은 {}래요".format(index, student))

얘 번호는 0번이구요. 이름은 철수래요
얘 번호는 1번이구요. 이름은 영희래요
얘 번호는 2번이구요. 이름은 동수래요

In [ ]:
# for 문의 주된 활용 방식

empty_list = []
for student in class_1:
    empty_list.append('김' + student) # 리스트에 item 추가하기

In [ ]:
empty_list

['김철수', '김영희', '김동수']

In [ ]:
sentence = 'This is the sample sentence. Sentence is comprised with words. Word is a group of charactors. NLP is short for Natural Language Programming. It covers the topics related with real words & sentences in language'
words = sentence.lower().split(' ') # 전체 문장을 소문자로 치환 후, 여백(' ')을 기준으로 나눠서 list로 저장
print(words)

['this', 'is', 'the', 'sample', 'sentence.', 'sentence', 'is', 'comprised', 'with', 'words.', 'word', 'is', 'a', 'group', 'of', 'charactors.', 'nlp', 'is', 'short', 'for', 'natural', 'language', 'programming.', 'it', 'covers', 'the', 'topics', 'related', 'with', 'real', 'words', '&', 'sentences', 'in', 'language']

In [ ]:
bag_of_words = {}
for word in words:
    if word not in bag_of_words: # if a word is not in the list of dict keys,
        bag_of_words[word] = 1
    else: # if that word is in the list of dict keys,
        bag_of_words[word] += 1
print(bag_of_words)

{'this': 1, 'is': 4, 'the': 2, 'sample': 1, 'sentence.': 1, 'sentence': 1, 'comprised': 1, 'with': 2, 'words.': 1, 'word': 1, 'a': 1, 'group': 1, 'of': 1, 'charactors.': 1, 'nlp': 1, 'short': 1, 'for': 1, 'natural': 1, 'language': 2, 'programming.': 1, 'it': 1, 'covers': 1, 'topics': 1, 'related': 1, 'real': 1, 'words': 1, '&': 1, 'sentences': 1, 'in': 1}

In [ ]:
from collections import Counter

print(bag_of_words)

{'this': 1, 'is': 4, 'the': 2, 'sample': 1, 'sentence.': 1, 'sentence': 1, 'comprised': 1, 'with': 2, 'words.': 1, 'word': 1, 'a': 1, 'group': 1, 'of': 1, 'charactors.': 1, 'nlp': 1, 'short': 1, 'for': 1, 'natural': 1, 'language': 2, 'programming.': 1, 'it': 1, 'covers': 1, 'topics': 1, 'related': 1, 'real': 1, 'words': 1, '&': 1, 'sentences': 1, 'in': 1}

#### while

In [ ]:
temp = 1
while temp <= 10:
    print(temp)
    temp = temp + 1 # temp 를 1 증가시켜주려면?

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 무한 루프, Pass, Interrupting kernel

while True:
    pass

KeyboardInterrupt:

In [ ]:
idx = 0
while True:
    if idx >= 5:
        break
    else:
        print(idx)
        idx += 1

0
1
2
3
4

In [ ]:
idx = 0
while 1:
    if idx >= 5:
        break
    else:
        print(idx)
        idx += 1

0
1
2
3
4

In [ ]:
# Quiz 4. 점수(0~100)를 입력으로 받아 학점을 출력해주는 함수 grade를 만드세요.

In [ ]:
def grade(score):

  if score >= 90:
    grade_ = "A"
  elif score >= 80:
    grade_ = "B"
  else:
    grade_ = "C"

  return grade_

In [ ]:
grade(87)

'B'

In [ ]:
# Quiz 5. 3개의 숫자를 입력으로 받아, 가장 큰 수를 출력하는 함수 best 를 만드세요. (Hint. 리스트와 sort()를 활용해보세요.)

In [ ]:
def best(num1, num2, num3):

  number_lst = [num1, num2, num3]
  number_lst.sort(reverse=True)



  return number_lst[0]

In [ ]:
best(20, 100, 60)

100

In [ ]:
# Quiz 6. 숫자 하나를 입력받아, 홀수면 "odd", 짝수면 "even"을 출력하는 함수 odd_or_even을 만드세요. (나머지 연산 명령어는?)

In [ ]:
def odd_or_even(num1):
  if num1%2 == 1:
    idf = "odd"
  elif num1%2 ==0:
    idf = "even"
  else :
    idf = "숫자를 다시 입력해주세요!"

  return idf

In [ ]:
odd_or_even(9)

'odd'

In [ ]:
# Quiz 7. "20180323sunny" 와 같은 문자열을 입력받아, "Year is 2018, Day is 0323, Weather is sunny" 를 출력하는 함수 weather를 만드세요.

In [ ]:
def weather(text):
    Year = text[0:4]
    Day = text[4:8]
    Weather = text[8:]




    # 결과 출력
    print("Year is {}, Day is {}, Weather is {}".format(Year, Day, Weather))

In [ ]:
weather('20180323still cold')

Year is 2018, Day is 0323, Weather is still cold

<br>

#### 5. 파일 읽고 쓰기

#### 파일 쓰기

In [ ]:
file = open('cage.txt', 'w', encoding='utf-8') # '열다'를 영어로? & w/r/a

In [ ]:
cage = ['Cat', 'Dog', 'Tiger']

In [ ]:
for i in cage:
    file.write(i)

In [ ]:
file.close() # open & write & close

In [ ]:
# close를 안쓰려면?

In [ ]:
# file.write(cage) 대신,
file = open('cage.txt', 'w', encoding='utf-8') # '열다'를 영어로? & w/r/a

for animal in cage:
    file.write(animal + '\t') # \t 로 바꿔서도 실행해보세요

file.close()

In [ ]:
# file = open('cage.txt', 'w', encoding='utf-8')
# file.writelines(cage)
# file.close()

In [ ]:
# 자동으로 파일 닫기 (convention)

with open('cage.txt', 'w', encoding='utf-8') as file: # '함께', '~와 같이' 를 영어로?
    for animal in cage:
        file.write(animal + '\n')

#### 파일 읽기

In [ ]:
file = open('cage.txt', "r", encoding='utf-8') # 읽기 모드

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cage = file.readlines() # 여러줄 한번에 읽어서 리스트에 담기 (Shift+Tap 을 사용해보세요!)
cage

['Cat\n', 'Dog\n', 'Tiger\n']

In [ ]:
print(cage[0])

Cat

<br>

#### 6. 클래스

![image.png](attachment:image.png)
<p style='margin-left:42%;'>(from http://j.mp/32FkRhd)</p>

In [1]:
class Cage: # 클래스 X를 상속할 때에는 : class Cage(X):

    def print_something():
        print("This is something!")

In [2]:
cage_1 = Cage()

In [3]:
cage_1.print_something()

TypeError: Cage.print_something() takes 0 positional arguments but 1 was given

In [4]:
class Cage:

    # 클래스 선언 후 객체가 메소드를 호출할 때 메소드를 호출한 객체 자신이 첫번째 인자로 함께 전달된다.
    def print_something(self):
        print("This is something!")

In [5]:
cage_1 = Cage()

In [6]:
cage_1.print_something() # 메소드 호출, check_animals 메소드를 호출한 객체 cage_1 이 자동으로 self에 전달된다.

This is something!

![image.png](attachment:image.png)

In [7]:
# 클래스를 따라 객체변수를 만들 때 처음부터 데이터가 담겨있기를 원한다면?

class Cage:

    # 생성자(Constructor), 클래스라는 설계도를 따라 객체를 만들 때 초기화값
    def __init__(self):
        self.animals = ['Cat', 'Dog', 'Tiger']

    def check_animals(self):
        print(self.animals) # self 키워드를 통해 함수의 scope를 뛰어넘어 접근이 가능합니다.

In [8]:
cage_1 = Cage() # 생성자 호출
cage_1

In [9]:
cage_1.check_animals()

['Cat', 'Dog', 'Tiger']

In [10]:
class Cage:

    def __init__(self):
        self.animals = ['Cat', 'Dog', 'Tiger']

    def check_animals(self):
        print(self.animals)

    def plus_animal(self, animal):
        self.animals.append(animal) # 리스트에 item 추가하기?
        print(self.animals)

In [11]:
cage_2 = Cage()
cage_2

In [12]:
cage_2.plus_animal('Pig')

['Cat', 'Dog', 'Tiger', 'Pig']

In [13]:
class Cage:

    def __init__(self, name='SampleCage'):
        self.instance_name = name
        self.animals = ['Cat', 'Dog', 'Tiger']

    def check_animals(self):
        print(self.animals)

    def plus_animal(self, animal):
        self.animals.append(animal)
        print(self.animals)

    def __str__(self):
        return self.instance_name

In [14]:
cage_1 = Cage('FirstCage')
print(cage_1)

FirstCage

#### Pass (why we need 'self')

In [15]:
Cage.check_animals(cage_1) # == cage1.check_animals() -> cage_1 객체를 check_animals()에게 인자로 던져주는 것

['Cat', 'Dog', 'Tiger']

In [16]:
Cage.check_animals(cage_2) # == cage2.check_animals()

['Cat', 'Dog', 'Tiger', 'Pig']

In [ ]:
# 사실 cage_1.check_animals()를 실행하면
# 백그라운드에서는 Cage.check_animals(chech_1) 이 실행되는 것
# 이 때 클래스 Cage 가 어떤 객체(instance)의 메소드를 호출해야하는지 모르기 때문에 객체를 인자로 전달해줘야 한다.

<br>

#### 7. Python 기본 내장함수와 외장함수

In [18]:
len('Python') # 길이?

6

In [19]:
list('Python')

['P', 'y', 't', 'h', 'o', 'n']

In [20]:
dir('Python') # (여기서는 string) 객체가 자체적으로 가지고 있는 변수나 함수
# "Python"은 'str'이라는 데이터타입(클래스)이 만들어낸 객체이며 'str' 데이터타입(클래스)에 정의된 모든 속성(객체변수)과 메소드를 상속 받음

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
from sklearn import linear_model

for name_space in dir(linear_model):
    if 'CV' in name_space:
        print(name_space)

ElasticNetCV
LarsCV
LassoCV
LassoLarsCV
LogisticRegressionCV
MultiTaskElasticNetCV
MultiTaskLassoCV
OrthogonalMatchingPursuitCV
RidgeCV
RidgeClassifierCV

In [28]:
abs(-1.2) # '절대값'의 앞 3글자

1.2

In [27]:
round(1.7) # 반올림

2

In [26]:
bool(1) # 참/거짓 판별

True

In [25]:
sum([1, 2, 3]) # 합

6

In [22]:
max([1, 2, 3]) # 최대값

3

In [23]:
min([1, 2, 3]) # 최소값

1

In [29]:
list(range(0, 100, 10)) # 0부터 100까지 10씩 증가

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [32]:
def func(x):
    return x**2 #제곱 연산자

In [33]:
func(5)

25

In [ ]:
# x(input) 를 받아 x**2(output) 를 return 해주는 람다 함수

In [34]:
func(5)

25

<br>

#### 8. 라이브러리 활용하기 (Library == Package, Module(단일 .py)의 상위 개념 )

In [35]:
%%writefile module_example.py

# @ module_example.py

def print_something() :
    print('Hello world!')

def sum_nums(num1, num2) :
    result = num1 + num2
    return result

Writing module_example.py

In [36]:
# %ls module_example.py

In [37]:
import module_example

module_example.print_something()

Hello world!

In [38]:
import numpy # import 라이브러리이름

In [39]:
a = numpy.array([1, 2, 3])
a

array([1, 2, 3])

In [40]:
import numpy as np # import 라이브러리이름 as 별명

In [41]:
a = np.array([1, 2, 3])
a

array([1, 2, 3])

In [42]:
from numpy import array, ndarray # from 라이브러리이름 import 함수이름

In [43]:
a = array([1, 2, 3])
a

array([1, 2, 3])

In [44]:
import random # 외장함수

x = random.random()
x

0.26432020513911947

In [49]:
x = random.randint(1, 100) # 1과 100 사이의 '정수' 를 랜덤하게 뽑으려면? Shift + Tab 을 활용해보세요!
x

86

In [50]:
import os # 외장함수

os.getcwd() # get current working directory

'/content'

#### pip 명령어 살펴보기 : pip + [ list/freeze/check, show/install/uninstall library_name, search search_keyword ]

In [ ]:
# cmd 에서 입력해 결과를 확인해보세요.

pip list
pip freeze > lib_list.txt # -> pip install -r lib_list.txt
pip check

pip show numpy
pip install numpy (주의)
pip uninstall numpy (주의)

pip download django